{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    "babel-plugin-inline-import",
    "babel-plugin-transform-class-properties",
    "transform-object-rest-spread"
  ],
  "ignore": ["node_modules/**"]
}
